<?xml version='1.0' encoding='utf-8'?>
<widget id="id.cepatsembuh" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cepat Sembuh</name>
    <description>
One stop healthcare service mobile application, berisi data pribadi pasien, sistem pendaftaran otomatis, dan informasi booking tempat tidur inap rumah sakit. Dengan klik CEPAT SEMBUH, semua pasien (wajah yang menderita) menjadi cepat sembuh (wajah yang tersenyum)
    </description>
    <author email="mercysmartacademy@gmail.com" href="http://mercysmart.github.io">
        MercySmart
    </author>
    <content src="index.html" />
    <icon src="www/img/logo.png" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/img/logo.png" />
        <plugin name="SQLitePlugin" value="io.liteglue.SQLitePlugin"/>
    </platform>
    <platform name="ios">
        <icon src="www/img/logo.png" />
        <plugin name="SQLitePlugin" value="io.liteglue.SQLitePlugin"/>
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
