<?xml version='1.0' encoding='utf-8'?>
<widget id="id.cepatsembuh" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CepatSembuh</name>
    <description>
      An app to help people to find the nearest faskes in their location
    </description>
    <author>
      Andre Christoga
    </author>
    <content src="www/index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="https://cepatsembuh.firebaseio.com" />
    <preference name="Orientation" value="portrait" />
    <platform name="android">
        <icon src="res/mipmap-mdpi/ic_launcher.png" density="mdpi"/>
        <icon src="res/mipmap-hdpi/ic_launcher.png" density="hdpi"/>
        <icon src="res/mipmap-xhdpi/ic_launcher.png" density="xhdpi"/>
        <icon src="res/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi"/>
        <icon src="res/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi"/>
        <splash src="res/splash.png" density="port-mdpi"/>
        <splash src="res/splash.png" density="port-hdpi"/>
        <splash src="res/splash.png" density="port-xhdpi"/>
    </platform>
</widget>
